
.pantalla {
    display: grid;
    margin: 5px;
    width: 95%;
    height: 100% - 5px;
    background-color: #6eb0a0;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    border-radius: 25px;
}

.textos {
    display: grid;
    margin: 5px;
    width: 95%;
    height: 100% - 5px;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;
}

.botones {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.lista {
    display: grid;
    width: 60%;
    height: 20%;
    margin-bottom: 25px;
    justify-self: left;
    align-self: flex-end;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0;
    border-color: #9dcc9b;
}
.grafico {
    display: grid;
    width: 60%;
    height: 20%;
    margin-bottom: 25px;
    justify-self: right;
    align-self: flex-end;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 0;
    border-color: #9dcc9b;
}
