
.pantalla {
    display: grid;
    margin: 5px;
    width: 95%;
    height: 100% - 5px;
    background-color: #6eb0a0;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    border-radius: 25px;
}

.pinlbl {
    display: grid;
    height: 100%;
    font-size: 40px;
    align-items: center;
}

.pin {
    display: grid;
    height: 60px;
    width: 130px;
    font-size: 35px;
    border-radius: 10px;
    text-align: center;

}
