<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../assets/css/Deposito.css">
    <title>Depósito</title>
</head>
<body>
    <img src="../assets/img/pokemon_bank_main_169.png" class="pokemon">
    <label class="label1">Por favor introduzca el dinero<br> la ranura de depósito</label>
    <label class="label2">Deposite el billete en la<br>ranura horizontal así:</label>
    <img src="../assets/img/34-345200_transparent-withdrawal-clipart-cartoon-atm-machine-png-png.png" class="ranura">
    <label class="label3">• Tenga su dinero listo<br>
        <br>• Puede depositar hasta $50 billetes <br>
        <br>• Por favor, no depositar billetes con<br> &nbsp;&nbsp; cinta adhesiva, grapas o mal estado</label>
    <a href="../index.html"><button class="button-24">Cancelar</button></a>
    <a href="../views/deposito2.html"><button class="button-25">Enter</button></a>
</body>
</html>