<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../assets/css/Consulta.css">
    <title>Consulta</title>
</head>
<body>
    <img src="../assets/img/pokemon_bank_main_169.png" class="pokemon">
    <label class="label1">Por favor retire su recibo</label>
    <img src="../assets/img/bill.png" class="bill">
    <a href="../index.html"><button class="ENTER2">ENTER</button></a>
</body>
</html>