<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../assets/css/menu1.css">
    <title>Menú principal</title>
</head>
<body>
    <img src="../assets/img/pokemon_bank_main_169.png" class="pokemon">
    <label class="label1">Seleccione una opción</label>
    <a href="../views/retiro.html"><button class="retiro">Retiro de efectivo</button></a>
    <a href="../views/deposito.html"><button class="deposito">Depósito a la tarjeta</button></a>
    <a href="../views/consulta.html"><button class="saldo">Consulta de saldo</button></a>
    <a href="../views/pagos.html"><button class="pagos">Pagos de servicios</button></a>
    <a href="../index.html"><button class="cancel">Cancelar</button></a>
    <label class="label2">Bienvenido/a, Ash Ketchum. N° de Cuenta: 0987654321</label>
</body>
</html>