<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../assets/css/retiros.css">
    <title>Retiro</title>
    <script src="../ProyectoLIC/js/retiro.js"></script>
</head>
<body>
    <img src="../assets/img/pokemon_bank_main_169.png" class="pokemon">
    <label class="label1">Por favor seleccione la cantidad a retirar</label>
    <button class="cinco" onclick="retiro(5)">$5.00</button>
    <button class="diez" onclick="retiro(10)">$10.00</button>
    <button class="veinte" onclick="retiro(20)">$20.00</button>
    <button class="cincuenta" onclick="retiro(50)">$50.00</button>
    <button class="cien" onclick="retiro(100)">$100.00</button>
    <a href="../views/otraCantidad.html"><button class="otro">Otro</button></a>
    <a href="../index.html"><button class="cancel">Cancelar</button></a>
    <a href="../views/menu.html"><button class="regresar">Regresar</button></a>
    <img src="../assets/img/35-357467_pokemon-go-png-pikachu-super-smash-bros-wii.png" class="pikachu">
</body>
</html>