<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../assets/css/Consulta.css">
    <title>Saldo</title>
</head>
<body>
    <img src="../assets/img/pokemon_bank_main_169.png" class="pokemon">
    <label class="label1">Su saldo actual es de:</label>
    <label class="saldo">$550</label>
    <a href="../views/imprimir.html"><button class="imprimir">Imprimir recibo</button></a>
    <a href="../views/consulta.html"><button class="regresar2">Regresar</button></a>
</body>
</html>