@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

body{
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.pokemon{
    position: absolute;
    top: -50px;
    width: 579px;
    height: 348px;
    left: 365px;

}

.label1{
    position: absolute;
    width: 905px;
    height: 81px;
    left: 218px;
    top: 230px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 96px;
    text-align: center;

    color: #035FAF;

    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}