@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

body{
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.pokemon{
    position: absolute;
    width: 579px;
    height: 348px;
    left: 350px;

}

label{
    position: absolute;
    width: 905px;
    height: 81px;
    left: 208px;
    top: 300px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 96px;
    text-align: center;

    color: #035FAF;

    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input{
    position: absolute;
    width: 250px;
    height: 50px;
    left: 530px;
    top: 400px;
    border: none;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 96px;
    text-align: center;

    color: #000000;

    background: #bbbbbb;
    border-radius: 15px;
}

.boton{
    position: absolute;
    width: 200px;
    height: 60px;
    left: 550px;
    top: 500px;

    background: #07A403;
    border-radius: 15px;
    border: none;

    position: absolute;
    width: 133px;
    height: 48px;
    left: 592px;
    top: 500px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}